<div class="tasks-container">
    <div class="tasks-container__top-part">
        <div class="tasks-container__top-part__content">
            <div></div>
            <h1 style="padding-left: 180px;">Current day : Vineri 12/07/2024</h1>
            <app-button [button]="buttonInput" (buttonClicked)="openDialog()"></app-button>
        </div>
    </div>
    <div class="tasks-container__bottom-part">
        <div class="tasks-container__bottom-part__left-tables">
            <div class="tasks-container__bottom-part__left-tables__do">
                <app-tabletasks></app-tabletasks>
            </div>
            <div class="tasks-container__bottom-part__left-tables__delegate">DELEGATE</div>
        </div>
        <div class="tasks-container__bottom-part__right-tables">
            <div class="tasks-container__bottom-part__right-tables__decide">DECIDE</div>
            <div class="tasks-container__bottom-part__right-tables__delete">DELETE</div>
        </div>
    </div>
</div>
