<div class="dialog-container">
  <h1 style="align-self: center">Add Task</h1>
  <div class="dialog-container__content">
    <div class="dialog-container__content__name_select">
      <div class="dialog-container__name_select__name">
        <h3>Task name</h3>
        <input placeholder="Name" [(ngModel)]="task.name" style="border: 1px solid black; padding: 7px" />
      </div>
      <div class="dialog-container__name_select__select">
        <h3>Select Hour</h3>
        <input
          placeholder="Select hour"
          type="datetime-local"
          matInput
          [(ngModel)]="task.hour"
          style="border: 1px solid black; padding: 7px"
        />
      </div>
    </div>
    <div class="dialog-container__content__type">
      <h3>Select the type</h3>
      <mat-radio-group
        [(ngModel)]="task.type"
        aria-label="Select an option"
        class="dialog-container__content__type__radio-group"
      >
        <mat-radio-button value="DO">DO</mat-radio-button>
        <mat-radio-button value="DECIDE">DECIDE</mat-radio-button>
        <mat-radio-button value="DELEGATE">DELEGATE</mat-radio-button>
        <mat-radio-button value="DELETE">DELETE</mat-radio-button>
      </mat-radio-group>
    </div>
    <div style="display: flex; justify-content: space-around">
      <mat-checkbox
        class="example-margin"
        [checked]="task.isCommented"
        (change)="toggleComment(true)"
        [disabled]="task.isCommented"
        >Add a comment</mat-checkbox
      >
      <mat-checkbox
        class="example-margin"
        [checked]="!task.isCommented"
        (change)="toggleComment(false)"
        >Without a comment</mat-checkbox
      >
    </div>
    <div *ngIf="task.isCommented" style="width: 100%;">
      <h3>Write a comment</h3>
      <mat-form-field>
        <mat-label>Add Comment</mat-label>
        <textarea matInput [(ngModel)]="task.comments" style="width: 100%;"></textarea>
      </mat-form-field>
    </div>
    <mat-dialog-actions style="justify-content: space-around; width: 100%">
      <button mat-button (click)="onCreateTask()">Save</button>
      <button mat-button (click)="onNoClick()">Cancel</button>
    </mat-dialog-actions>
  </div>
</div>
