.shared-form-container {
    border: 1px solid black;
    height: auto;
    background-color: white;
    border-radius: 5%;
    min-height: 50vh; 
    min-width: 75vw;
    max-width: 80vw;

    &__inner{
        height: 50vh;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        &__title{
            align-self: center;
        }

        &__username{
            display: flex;
            flex-direction: column;
        }
    }
}