.task-dialog-container {
    width: 100%;
    height: 100%;
}

.task-dialog-container__content {
  padding: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  gap: 60px;
}