.table-container {
  overflow: hidden;
}

.table-container:hover{
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

table {
  width: 100%;
  background-color: transparent;
}
