.button-container {
    width: 100%;
    min-width: 10vw;
    min-height: 4vh;
    background-image: var(--gradient-ocean-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
}